@import url('https://fonts.googleapis.com/css?family=Roboto');

.analyticator_half_column {
	width: 48%;
	float: left;
	margin-right: 2%;

}
.analyticator_column {
	width: 100%;
}
img.pluginbanner {
	max-width:500px;
	width: 100%;
	height: auto;
}

.analyticator_clear {
	clear: both;
}

.analyticator-brand{
	background-color: #84B02C;
	width: 100%;
	text-align: center !important;
	padding: 10px 0;
	margin-bottom: 0 !important;
}
.analyticator-brand div {
	margin: 0 auto;
}

.analyticator-brand-bar {
	width: 50%;
}

.analyticator-form {
	padding: 20px 0;	
	background-color: #3C4240;
	color: #FFF;
	font-size: 14px;
	text-align: center;
}
.analyticator-rate-us {

}
.analyticator-rate-us a {
	background-image: url('../img/bck-banner.jpg');
	background-size: cover;
	background-position: center center;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	display: block;
	-webkit-transition:	all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.analyticator-rate-us a:hover {
	background-image: none !important;
	background-color: #84B02C !important;
	text-decoration: none;
	color: #FFF;
}
.analyticator-form h4 {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
.analyticator-form h3 {
	color: #FFF;
}

.analyticator-form a {
	color: #FFF;
	text-decoration: none;
	-webkit-transition:	all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.analyticator-form a:hover {
	text-decoration: underline;
}

.analyticator-support {
	background-color: #FFCC00;
	color: #333333;
	font-size: 18px;
}
input.analyticator-btn {
	margin: 10px 0;
	padding: 10px;
	border-radius: 8px;
	background-color: #84B02C;
	color: #fff;
	font-size: 18px;
	border: 0;
	cursor: hand !important;
}
input.analyticator-btn {
	
}
@media (max-width:768px) {
	.analyticator_half_column {
		float: none;
		width: 100%;
	}	
}