@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);
/* Effects */
.transition, #seventhemeswrapper ul.social-links li a {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear; }

#seventhemeswrapper ul.list-unstyled {
  list-style-type: none; }

#seventhemeswrapper ul.social-links li {
  float: right; }

#seventhemeswrapper ul.social-links li a {
  color: #fff;
  font-size: 25px;
  padding: 5px 10px;
  display: block;
  text-decoration: none; }

#seventhemeswrapper ul.social-links li a:hover {
  color: #B0B825; }

#seventhemeswrapper img.responsive {
  width: 100%;
  height: auto; }

#seventhemeswrapper img.sts-brand {
  width: 125px;
  height: 115px;
  margin: 0 auto; }

#seventhemeswrapper h1, #seventhemeswrapper h2, #seventhemeswrapper h3, #seventhemeswrapper h4, #seventhemeswrapper h5, #seventhemeswrapper h6 {
  color: #1C1F26;
  font-family: "Roboto", sans-serif; }

#seventhemeswrapper h1 {
  font-size: 2.5rem; }

#seventhemeswrapper h2 {
  font-size: 2rem; }

#seventhemeswrapper h3 {
  font-size: 1.375rem; }

#seventhemeswrapper h4 {
  font-size: 1.125rem; }

#seventhemeswrapper h5 {
  font-size: 1rem; }

#seventhemeswrapper h6 {
  font-size: 0.875rem; }

#seventhemeswrapper p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.8; }

#seventhemeswrapper th {
  font-weight: 200;
  line-height: 1.8; }

#seventhemeswrapper label {
  font-weight: 200;
  line-height: 1.8; }

#seventhemeswrapper .font-light {
  font-weight: 300; }

#seventhemeswrapper .font-regular {
  font-weight: 400; }

#seventhemeswrapper .font-heavy {
  font-weight: 700; }

#seventhemeswrapper .text-center {
  text-align: center !important; }

#seventhemeswrapper .left {
  text-align: left; }

#seventhemeswrapper .right {
  text-align: right; }

#seventhemeswrapper .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#seventhemeswrapper .justify {
  text-align: justify; }

#seventhemeswrapper .hidden-sm {
  display: none; }

#seventhemeswrapper .container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    #seventhemeswrapper .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    #seventhemeswrapper .container {
      width: 75%;
      max-width: 60rem; } }

#seventhemeswrapper .row {
  position: relative;
  width: 100%; }

#seventhemeswrapper .row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

#seventhemeswrapper .row::after {
  content: "";
  display: table;
  clear: both; }

#seventhemeswrapper .col-1,
#seventhemeswrapper .col-2,
#seventhemeswrapper .col-3,
#seventhemeswrapper .col-4,
#seventhemeswrapper .col-5,
#seventhemeswrapper .col-6,
#seventhemeswrapper .col-7,
#seventhemeswrapper .col-8,
#seventhemeswrapper .col-9,
#seventhemeswrapper .col-10,
#seventhemeswrapper .col-11,
#seventhemeswrapper .col-12 {
  width: 96%; }

#seventhemeswrapper .col-1-sm {
  width: 4.3333333333%; }

#seventhemeswrapper .col-2-sm {
  width: 12.6666666667%; }

#seventhemeswrapper .col-3-sm {
  width: 21%; }

#seventhemeswrapper .col-4-sm {
  width: 29.3333333333%; }

#seventhemeswrapper .col-5-sm {
  width: 37.6666666667%; }

#seventhemeswrapper .col-6-sm {
  width: 46%; }

#seventhemeswrapper .col-7-sm {
  width: 54.3333333333%; }

#seventhemeswrapper .col-8-sm {
  width: 62.6666666667%; }

#seventhemeswrapper .col-9-sm {
  width: 71%; }

#seventhemeswrapper .col-10-sm {
  width: 79.3333333333%; }

#seventhemeswrapper .col-11-sm {
  width: 87.6666666667%; }

#seventhemeswrapper .col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  #seventhemeswrapper .col-1 {
    width: 4.3333333333%; }

  #seventhemeswrapper .col-2 {
    width: 12.6666666667%; }

  #seventhemeswrapper .col-3 {
    width: 21%; }

  #seventhemeswrapper .col-4 {
    width: 29.3333333333%; }

  #seventhemeswrapper .col-5 {
    width: 37.6666666667%; }

  #seventhemeswrapper .col-6 {
    width: 46%; }

  #seventhemeswrapper .col-7 {
    width: 54.3333333333%; }

  #seventhemeswrapper .col-8 {
    width: 62.6666666667%; }

  #seventhemeswrapper .col-9 {
    width: 71%; }

  #seventhemeswrapper .col-10 {
    width: 79.3333333333%; }

  #seventhemeswrapper .col-11 {
    width: 87.6666666667%; }

  #seventhemeswrapper .col-12 {
    width: 96%; }

  #seventhemeswrapper .hidden-sm {
    display: block; } }

/*# sourceMappingURL=simple-grid.css.map */
